extends baseEmail

block content
    p Hi #{firstName},
        p Forget your password ? submit this code with your new password 
        and confirmation to : #{code}.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your password
        p If you don't forget your password , ignore this
